[Desktop Entry]
Type=Application
Name=Zalo
Comment=Unofficial port of Zalo messaging application for Linux systems (Flatpak).
Icon=net.vietnamlinuxfamily.zalo-for-linux
Exec=zalo %U
Terminal=false
Categories=Network;
StartupWMClass=Zalo
